/* Imort fira sans */
@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
/* Import outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Variables */

:root {
    --firaFont: 'Fira Sans' sans-serif;
    --outfitFont: "Outfit", sans-serif;
    --brown-1: rgba(66, 61, 60, 100%);
    --brown-2: rgba(56, 50, 49, 100%);
    --brown-3: rgba(45, 39, 38, 100%);
    --brown-4: rgba(41, 36, 36, 100%);
    --brown-5: rgba(34, 30, 30, 100%);
    --primary: rgba(245, 156, 92, 100%);
    --primary-light: rgba(247, 182, 135, 100%);
    --white: rgba(255, 255, 255, 100%);
    --gray: rgba(203, 201, 201, 100%);
    --accent-light: rgba(101, 148, 119, 100%);
    --accent: rgba(59, 130, 86, 100%);
    --accent-dark: rgba(35, 65, 47, 100%);
    --red: rgba(126, 62, 63, 100%);
    --burnt-orange: rgba(135, 92, 54, 100%);
    --teal: rgba(55, 126, 134, 100%);
}

/* global styls */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    line-height: 1.6;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--brown-3);
    font-family: var(--firaFont);
    color: var(--gray);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

ul,
ol {
    list-style: none;
}

.container {
    width: min(1162px, 100%);
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.container-xl {
    width: min(1376px, 100%);
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}




/*================== HAEDER ============== */
.header__container {
    width: min(1376px, 100%);
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.site-logo__icon {
    width: 157px;
    height: 32px;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    gap: 32px;
}

.nav__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: var(--primary-light);
    }
}

.header_menu-btn {
    display: none;
}

.mobile-nav {
    display: none;
}

@media (max-width:576px) {
    .nav {
        display: none;
    }

    .header_menu-btn {
        display: block;
        margin-left: auto;
        position: relative;
        z-index: 99;
    }

    .mobile-nav.active {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 246px;
        background-color: var(--accent);
        color: var(--white);
        padding: 32px;
    }

    .mobile-nav__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .mobile-nav__item:not(:last-child) {
        border-bottom: 2px var(--accent-light) solid;
        padding-bottom: 32px;
    }

    .mobile-nav__link {
        font-family: var(--outfitFont);
        color: var(--white);
        font-weight: 700;
        font-size: 24px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
    }
}


/*==================== HERO ================== */

main {
    flex-grow: 1;
}

.hero {
    padding: 72px 0;
    text-align: center;
    background-image: url(../image/forest-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    font-family: var(--outfitFont);
    font-size: 80px;
    line-height: 105%;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 0;

    &>span {
        font-weight: 700;
        font-style: Bold;
        font-size: 120px;
        line-height: 120px;
        letter-spacing: -2%;
        text-align: center;
        color: var(--primary);
    }
}

.hero__texts {
    width: min(732px, 100%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & p {
        font-family: var(--outfitFont);
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: center;
        color: var(--white);
    }
}

@media (max-width:1200px) {
    .hero__title {
        font-size: 65px;
        line-height: 100%;

        &>span {
            font-size: 80px;
            line-height: 110px;
        }
    }
}

@media (max-width:790px) {
    .hero__title {
        font-size: 60px;
        line-height: 100%;

        &>span {
            font-size: 60px;
            line-height: 100%;
        }
    }

    .hero__texts {
        width: min(520px, 100%);

        & p {
            font-size: 18px;
        }
    }
}


@media (min-width:555px) and (max-width:628px) {
    .hero__title {
        font-size: 60px;
    }
}



@media (max-width:390px) {
    .hero__title {
        font-size: 50px;

        &>span {
            font-size: 50px;
        }
    }

    .hero__texts {
        & p {
            font-size: 16px;
        }
    }
}