.look {
    padding: 128px 0;
    background-color: var(--accent-dark);
}

.look__container {
    display: grid;
    grid-template-columns: 541px 1fr;
    column-gap: 48px;
    align-items: center;
}

.look__title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0;
    margin-bottom: 12px;
}

.look__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    margin-bottom: 24px;
    text-align: justify;

    &:last-child {
        margin-bottom: 0;
    }
}

.look__img{
    min-width: 100%;
}

@media (max-width:1100px) {
    .look__container {
        grid-template-columns: 430px 1fr;
    }
}

@media (max-width:860px) {
    .look {
        padding: 60px 0;
        background-color: var(--brown-3);
    }

    .look__container {
        grid-template-columns: 1fr;
    }

    .look__img {
        min-height: 435px;
        margin-bottom: 48px;
    }
}


@media (max-width:576px) {
    .look__img {
        min-height: 435px;
        min-width: 100%;
    }

    .look__title {
        font-size: 36px;
    }

    .look__text {
        font-size: 20px;
    }
}

/* ================================ CATEGORIES ===========================*/

.categories {
    padding: 128px 0;
    background-color: var(--brown-3);
}

.categories__title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1%;
    margin-bottom: 21px;
    color: var(--white);
}

.categories__selects {
    display: flex;
    gap: 8px;
    margin-bottom: 21px;
}

.select-1 {
    font-family: var(--outfitFont);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: var(--white);
    background-color: var(--accent);
    border-radius: 4px;
}

.select-2 {
    font-family: var(--outfitFont);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    color: var(--white);
    background-color: var(--accent);
    border-radius: 4px;
}

.categories__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 16px;
    row-gap: 18px;
}

.categoies__item {
    background-color: var(--brown-2);
    padding: 16px;
    border-radius: 12px;
}

.category__title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -1%;
    color: var(--white);
    margin-bottom: 12px;
}

.category__status {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    margin-bottom: 12px;

    & span {
        display: inline-block;
        font-family: var(--outfitFont);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -1%;
        padding: 0 7px;
        border-radius: 4px;
    }
}

.category__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: -1%;
    margin-bottom: 12px;
}

.category__quote {
    background-color: var(--brown-1);
    padding: 12px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -1%;
}

.toxic {
    background-color: var(--red);
}

.edges {
    background-color: var(--accent);
}

.fall {
    background-color: var(--burnt-orange);
}

.spring {
    background-color: var(--teal);
}

/* =================== Frequently ====================== */

.Frequently {
    background-color: var(--brown-5);
    padding: 72px 0;
}

.Frequently__title {
    font-family: var(--outfitFont);
    color: var(--white);
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -2%;
}

.Frequently__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(427px, 1fr));
    column-gap: 24px;
    row-gap: 16px;
    grid-template-areas: "card-1 card-2 card-4"
        "card-3 card-3 card-4";

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}

.Frequently__item {
    background-color: var(--brown-2);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
        grid-area: card-1;
    }

    &:nth-child(2) {
        grid-area: card-2;
    }

    &:nth-child(3) {
        grid-area: card-3;
    }

    &:nth-child(4) {
        grid-area: card-4;
    }

    &:nth-child(even) {
        .img__item-2 {
            order: 1;
        }
    }
}

.litle__item{
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.Frequently__item-title {
    font-family: var(--outfitFont);
    color: var(--white);
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0;
}

.Frequently__item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
}

.img__item-1,.img__item-4{
    margin-bottom: 16px;
}

.img__item-2{
    margin-top: 16px;
}

.Frequently__item:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img h2"
        "img p";
    gap: 16px;

    img {
        grid-area: img;
    }

    h2 {
        grid-area: h2;
    }

    p {
        grid-area: p;
    }
}

@media (max-width:1190px) {
    .Frequently__list {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "card-1 card-2"
            "card-3 card-4";
    }

    .Frequently__item:nth-child(3) {
        grid-template-columns: 1fr;
        grid-template-areas: "img"
            "h2"
            "p";
    }
    .Frequently__item-2{
       display: flex;
       flex-direction: column-reverse;

       & > img{
        margin-bottom: 16px;
       } 
    }

    .Frequently__title{
        font-size: 48px;
    }
    .img__item-4, .img__item-1, .img__item-2, .img__item-3{
        min-width: 100%;
        max-height: 240px;
    }
}

@media screen and (width < 480px) {
    .Frequently__list {
        grid-template-columns: 1fr;
        grid-template-areas: "card-1"
            "card-2"
            "card-3"
            "card-4";
    }

    .Frequently__item:nth-child(even) img {
        order: 0;
    }
}

/* ============================ FOOTER ========================= */

/* FOOTER */

.footer {
    padding: 32px 0;
    background-color: var(--brown-4);
}

.footer__container {
    text-align: center;
}

.footer__title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 32px;
}

.footer__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}