.mushroom {
    padding: 128px 0;
}

.mushroom__title {
    margin-bottom: 12px;
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0;
    color: var(--white);
}

.mushroom__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    margin-bottom: 32px;
}

.mushroom__list {
    display: grid;
    grid-template-columns: repeat(3, 361px);
    gap: 24px;
}

.mushroom__item {
    background-color: var(--brown-2);
    border-radius: 12px;
    padding: 16px;
}

.mushroom__img {
    margin-bottom: 26px;
}

.mushroom__item-title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: var(--primary);
    margin-bottom: 16px;
}

.mushroom__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

@media (max-width:1220px) {
    .mushroom__list {
        grid-template-columns: repeat(2, minmax(361px, 1fr));
        row-gap: 32px;
        justify-content: center;
    }

    .mushroom__item-1>img,
    .mushroom__item-2>img {
        min-width: 100%;
    }

    .mushroom__item-3 {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-column: span 2;
        column-gap: 16px;
        align-items: center;

        &>img {
            min-width: 100%;
        }
    }
}

@media (max-width:790px) {
    .mushroom {
        padding: 60px 0;
    }

    .mushroom__list {
        justify-content: center;
        row-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(361px, 1fr));
    }

    .mushroom__item-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(361px, 1fr));
        align-items: center;
        column-gap: 32px;
        grid-column: span 1;

        &>img {
            min-width: 100%;
        }
    }

    .mushroom__title {
        font-size: 36px;
    }
}


/* ======================== foraging =========================== */

.foraging {
    padding: 72px 0;
    background-color: var(--accent-dark);
}

.foraging__container {
    width: min(720px, 100%);
    margin: 0 auto;
    text-align: center;
}


.foraging__title {
    margin-bottom: 24px;
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;

    &>span {
        color: var(--primary);
    }
}


.foraging__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    color: var(--white);
}


@media (max-width:760px) {
    .foraging__container {
        width: min(720px, 100%);
        padding-left: 16px;
        padding-right: 16px;
    }

    .foraging__title {
        font-size: 38px;
    }

    .foraging__text {
        font-size: 16px;
    }
}


/* ===================== about ==================== */

.about {
    padding: 128px 0;
    background-color: var(--brown-5);
}

.about__container {
    display: grid;
    grid-template-columns: repeat(2, 648px);
    column-gap: 48px;
    align-items: center;
}

.about__title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0;
    margin-bottom: 24px;
    color: var(--white);
}

.about__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0;
    margin-bottom: 24px;
    text-align: justify;
}

.about__btn {
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--accent);
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 21px;
    line-height: 18px;
    letter-spacing: -2%;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--accent-light);
    }
}

@media (max-width:1370px) {
    .about__container {
        grid-template-columns: repeat(2, 548px);
        column-gap: 48px;
        align-items: flex-start;
    }
}

@media (max-width:1170px) {
    .about__container {
        grid-template-columns: 450px 1fr;
        column-gap: 48px;
        align-items: flex-start;
    }

    .about__title {
        font-size: 40px;
        margin-bottom: 16px;
        line-height: 140%;
    }

    .about__text {
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 16px;
    }
}

@media (max-width:920px) {
    .about {
        padding: 66px 0;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .about__img {
        width: 100%;
        margin-bottom: 48px;
    }

    .about__title {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .about__text {
        margin-bottom: 24px;
        font-size: 20px;
    }
}


/* ============== NATURE ================ */

.nature {
    padding: 128px 0;
}

.nature__container {
    display: grid;
    grid-template-columns: repeat(2, 648px);
    column-gap: 48px;
    align-items: center;
}

.nature__title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 48px;
    line-height: 110.00000000000001%;
    letter-spacing: 0;
    color: var(--white);
    margin-bottom: 24px;
}

.nature__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.nature__btn {
    color: var(--white);
    background-color: var(--accent);
    padding: 10px 20px;
    border-radius: 4px;
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 21px;
    line-height: 18px;
    letter-spacing: -2%;

    &:hover {
        background-color: var(--accent-light);
    }
}



@media (max-width:1370px) {
    .nature__container {
        grid-template-columns: repeat(2, 548px);
        column-gap: 48px;
        /* align-items: flex-start; */
    }
}

@media (max-width:1170px) {
    .nature__container {
        grid-template-columns: 450px 1fr;
        column-gap: 48px;
        /* align-items: flex-start; */
    }

    .nature__title {
        font-size: 40px;
        margin-bottom: 16px;
        line-height: 140%;
    }

    .nature__text {
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 16px;
    }
}

@media (max-width:920px) {
    .nature {
        padding: 60px 0;
    }

    .nature__container {
        grid-template-columns: 1fr;
    }

    .nature__content {
        margin-bottom: 48px;
    }

    .nature__img {
        width: 100%;
        margin-bottom: 48px;
    }

    .nature__title {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .nature__text {
        margin-bottom: 24px;
        font-size: 20px;
    }
}

/* FOOTER */

.footer {
    padding: 32px 0;
    background-color: var(--brown-4);
}

.footer__container {
    text-align: center;
}

.footer__title {
    font-family: var(--outfitFont);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 32px;
}

.footer__link{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}